body {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

#card {
    flex: none;
    min-width: 50%;
    max-width: 50%;
    text-align: left;

    font-size: 150%;
}

p.reference {
    font-weight: bold;
}

.front {
    background: white;
}

.back {
    background: lightgray;
}

.lost {
    font-weight: bold;
}
