body {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

#card {
    flex: none;
    min-width: 50%;
    max-width: 50%;
    min-height: 24em;
    text-align: center;
}

.front {
    background: red;
}

.back {
    background: green;
}
